<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h2>当前的值是：{{n}}</h2>
      <button @click="n++">点我n+1</button>
      <!-- 使用 v-show 做条件渲染，节点在（切换频率高适合用v-show）-->
      <!-- <h2 v-show="false">欢迎来到{{name}}</h2> -->

      <!-- 使用 v-if 做条件渲染，节点不在-->
      <!-- <h2 v-if="false">欢迎来到{{name}}</h2> -->

      <!-- v-else 和 v-else-if，一组判断 中间不能打断 -->
      <div v-if="n==1">Angular</div>
      <div v-else-if="n==2">React</div>
      <div v-else-if="n==3">Vue</div>
      <div v-else>除了123外的所有</div>

      <!-- 模版，不影响结构，页面渲染的时候会自动脱掉 -->
      <!-- template只能配合v-if使用 -->
      <template v-if="n==1">
        <h2>你好</h2>
        <h2>Vue</h2>
        <h2>🦑</h2>
      </template>
    </div>
  </body>
  <script>
    Vue.config.productionTip = false;

    const vm = new Vue({
      el: "#root",
      data: {
        name: "Vue",
        n: "0",
      },
    });
  </script>
</html>
