<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <h1>学校信息</h1>
      <h2>学校名称：{{school.name}}</h2>
      <h2>学校地址：{{school.address}}</h2>
      <hr />
      <h1>学生信息</h1>
      <button @click="addSex">点我追加性别属性</button>
      <h2>学生姓名：{{student.name}}</h2>
      <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
      <h2>学生年龄：✅真实{{student.age.rAge}}、🙅对外{{student.age.fAge}}</h2>
      <h2>爱好😍</h2>
      <ul>
        <li v-for="(h,index) in student.hobby" :key="index">{{h}}</li>
      </ul>
      <h2>朋友们👬</h2>
      <ul>
        <li v-for="(f,index) in student.friends" :key="index">
          {{f.name}}--{{f.age}}
        </li>
      </ul>
    </div>
  </body>
  <script>
    Vue.config.productionTip = false;

    const vm = new Vue({
      el: "#root",
      data: {
        school: {
          name: "尚硅谷",
          address: "北京",
        },
        student: {
          name: "Tom",
          age: {
            rAge: 40,
            fAge: 29,
          },
          hobby: ["唱歌", "跳舞", "打麻将"],
          friends: [
            { name: "Jerry", age: 35 },
            { name: "Tony", age: 36 },
          ],
        },
      },
      methods: {
        addSex() {
          // Vue.set(this.student, "sex", "男");
          this.$set(this.student, "sex", "男");
        },
      },
    });
  </script>
</html>
